<div class="container">
    <div>
        <img [src]="user.photo" alt="Picture">

        <p>Nom : {{user.name}}</p>
        <p>Prénom : {{user.firstName}}</p>
        <p>{{user.quote}}</p><br>

        <input type="text" [(ngModel)]="user.quote" placeholder="New quote ?" />
    </div>

    <div>
        <p *ngIf="user.condition">{{user.age}}</p>
        <button (click)="afficherAge()">Hide/show</button>
    </div>
</div>


<!-- //////////////////////////////////////////////////////////////////////////////////////// -->

<!-- <div class="demo-ngClass">
    <p [ngClass]="{'success' : etat=='Success','danger': etat=='danger', 'warning': etat=='warning''}">
        Ce texte va changer de couleur en fonctions de la conditions
    </p>
    <div>
        <button (click)="changerEtat('success')">
            succes
        </button>
        <button (click)="changerEtat('warning')">
            warning
        </button>
        <button (click)="changerEtat('danger')">
            danger
        </button>
    </div>
</div> -->
<!-- <p *ngIf="user.condition">
    only when the condition is true
</p> -->
<!-- <ul>
        La liste des etudiant est :

        <li *ngFor="let prenom of wilders">
            {{prenom}}

        </li>
    </ul> -->
<!-- <div [ngSwitch]="user.fruit">
    <div *ngSwitchCase="'apple'">
        Pomme
    </div>
    <div *ngSwitchCase="'orange'">
        Orange
    </div>
    <div *ngSwitchCase="'Banane'">
        Banane
    </div>
    <div *ngSwitchDefault>
        fruit ne correspond a aucune valeur
        fruit est : {{user.fruit }}
    </div> -->